 #titleImage{
  max-width:300px;
}

#content{
  text-align: center;
  padding: 15px;
  color: white;
  background-color: rgba(50,50,50,.6);
  width: 50%;
  margin: auto;
  border-radius: 25px;
  margin-top: 15px;
  }

 
#p5canvas{
  position:absolute;
  top: 5px; 
  z-index: -10;
}

  
.contentLink{
  padding: 0px;
  color: #fab900;
}

.contentLink:hover {
    color: #ffd900;
    backgroundColor: rgba(240, 240, 240);
}

img{
  border-radius: 25px;
  width: 50%;
}