
body {
  font-family: 'Titillium Web', sans-serif; font-weight: 100;
  margin: 0px;
  padding: 0px;
  background-color: rgb(200,200,200);
}



#processing-canvas {
  position:absolute;
  padding-top: 100px;

}

#p5canvas {
  position:fixed;
  z-index:-10;
  top: 0px;
  
}

#headBox {
  position:relative;
  width: 100%;
  height: 140px;
  background-color: rgb(50,50,50);
  color: #a6a6a6;
  padding: 15px;
}

#titleImage{
  width:100%;
  max-width:450px;
  min-width: 350px;
  Height: auto;
  padding: 0px;
  margin: -25px;
  position: relative;
  display: inline;
}

#header{
  position: absolute;
  text-align: left;
  bottom: 5px;
  display: inline;
  margin-left: -30px;
  margin-right: 30px;
}

#pageTitle {
  color:#da8900;
  position: relative;
  text-align: left;
  padding-left: 40px;
  top: 60px;
  font-size: 3em;
  }
 
#links {
 position: relative;
 padding-left: 30px;
 }
 
h4 {
  margin-bottom: -10px;
}
  
h1 {

  display: inline;
  font-size: 4em;
  color: #c6c6c6;
  
}
  
h3{
  display: inline-block;
  
  }
 
a {
  text-decoration: none;
  padding: 15px;
}

.navigator:hover {
    color: #da8900;
    backgroundColor: rgba(220, 230, 240, 0.7);
}
  
.navigator {
  color: #a6a6a6;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  }
  
.contentLink{
  color: #ca5900;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
}
.contentLink:hover {
    color: #eaa900;
    backgroundColor: rgba(220, 230, 240, 0.7);
}

#webStats {
position: absolute;
bottom: -75px;
right: 0px;

}

#instructionText{
  position: absolute;
  top: -1000px;
  Padding: 10px;
  border-radius: 10px;
  background-color: rgb(50,50,50);
  z-index:-10;
  color: rgb(150,150,150);
  width: 200%;
}

#instructions{

}
  
#instructions:hover > #instructionText { 
  z-index:10; 
  top: 35px;
}
  
  
#comments{
  width: 50%;
  margin: auto;
  color: rgb(50,50,50);
}
  
